// Root font size
:root {
  font-size: 18px;
  // direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  margin: 0 0.5rem;
}

// removing the arrows from  all input[type='number]
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 200px 200px 100px white inset;
  box-shadow: 200px 200px 100px white inset;
}
