// your ui base template colors
$black: #000;
$pale-grey: #f7f7f7;
$light-pink: #f2f2f2;
$pale-gray-shade: #e7e7e7;

$base-border-radius: 8px;
$card-border-radius: 13px;

$base-success: #00d170;
$prime-blue: #008efa;
$base-danger: #f74046;
$dim-danger: #bd272d;
$primary-text-color: #404040;
$light-text-color: #a3a3a3;
$login-dark: #151f33;
$light-box-shadow: #e6e6e6;

$light-grey: #c8c8c8;
$primary-color: #095f46;
$base-warn: #cded14;
$second-warn: #bdd64d;
$sec-success: #408b76;
$white: #fff;
$second-white: #fefefe;
$third-white: #f9f9f9;
$grey: #7f7f7f;
$pale-grey: #e2e2e2;
$green: #76c119;
$border-color: #e1e3e2;
