@import "~antd/dist/antd.css";
@import "../sass/base/_base_hub";
@import "../sass/modules/modules_hub";

.App {
  @include makeCenter(center, center, column);
}

.create-role {
  &__form {
    > div {
      @include makeCenter(start, start, column);
    }

    input {
      width: 100% !important;
    }
  }

  &__datepicker {
    width: 100%;
  }
}

.ant-form-item-control {
  width: 100%;
}

.button {
  background-color: $primary-color;
  color: $third-white;
  border: 1px solid $primary-color;
  border-radius: 5px;

  &:hover {
    background-color: white;
    color: $primary-color;
    border: 1px solid $primary-color;
  }

  &:focus {
    background-color: $primary-color;
    color: $third-white;
    border: 1px solid $primary-color;
  }
}

.table {
  thead {
    > tr > th {
      color: #5a8d7c !important;
      background: #f2f0f1 !important;
      text-align: center;
      border-color: #e2e2e2 !important;
      border-top: 1px solid #e2e2e2 !important;
    }
  }

  tbody {
    > tr > td {
      text-align: center;
      border-color: #e2e2e2 !important;
    }
  }
}
