.access-control {
  width: 100%;
  margin: 0.88rem;
  padding: 0.88rem;
  width: 1700px;
  border-radius: 5px;
  border: 1px solid $border-color;
  &__public {
    @include makeCenter(flex-end, flex-end, row);
    margin-bottom: 20px;

    button {
      margin: 0 5px;
    }
  }
}
